.container{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgb(224, 224, 206);
}

.container img{
    /* position: absolute; */
    z-index: 10;
    height: 150px;
    float: left;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 20px;
}
.container h1{
    /* position: absolute; */
    font-size: 50px;
    left:0;
    right:0;
    height:150px;
    text-align: center;
    color: #FFFFFF;
    background: #91, 196, 164;
    text-shadow: 4px 3px 0px #7A7A7A;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
/* .container ul{
    float: left;
    clear: both;
} */
.info{
    float: left;
    clear: both;
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} 
.skill{
    float: left;
    clear: both;
    scroll-margin-left: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(91, 196, 164);
    width: 500px;
    padding: 30px;
    
} 

.education{
    
    text-align: center;
    background-color: rgb(91, 196, 164);
    width: 500px;
    padding: 30px;
    margin-top: 10px;
    margin-left: 300px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    
}

.Experience{
    
    text-align: center;
    background-color: rgb(91, 196, 164);
    width: 500px;
    padding: 30px;
    margin-top: 10px;
    margin-left: 300px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
/* .header img{
    position: absolute;
    z-index: 10;
    height: 150px;
    float: left;
    
    
}

.header h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30pt;
    font-weight: 300;
    color: #ffffff;
    margin-block-end: 0%;
    /* margin-bottom: 0px; */
    /* background-color:#27aca5; 
    height:100px;

} */

    
 /* .info {
    margin-top: 150px;
    float: left; */
    /* float: left;
    clear: both;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12pt;
    font-weight: 100;
    word-spacing: 2.6px;
    color:#000000;
    background-color:#a1cfc4; 
    height:1200px;
    width: 250px;    */
/* }

.skill {text-align: left;
    float: left;
    clear: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20pt;
    font-weight: 100;
    word-spacing: 2.6px;
    color:#000000;
    margin-top: 0px;}
    
.Education{
    line-break: auto;
    float: left;
    clear: left;
    /* display: inline-block; */
    /* margin: 7px 5px;;}  
    
.Experience{
    line-break: auto;
    clear: left;
    display: inline-block;
    margin: 7px 5px;;}  */
  
    

  